<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8080">
          <serverProviders>

            <provider type="CustomSinks.CustomServerSinkProvider, CustomSinks"
							customSinkType="CompressionSink.CompressionServerSink, SampleSinks" />

            <formatter ref="binary" />

          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>